version: '2'

volumes:
  postgres_data_prod: {}

services:

  nginx:
    build:
      context: ../..
      dockerfile: ../Dockerfile-nginx
    ports:
      - 0.0.0.0:8000:80
    depends_on:
      - app

  app:
    build:
      context: ../..
      dockerfile: ../Dockerfile-app
    environment:
      - DATABASE_URL=postgres://user7:ok12h3iuhkshdgf@postgres/location_collector
      - ALLOWED_HOSTS=*
      - DEBUG=false
    depends_on:
      - postgres
    command: >-
      /bin/bash -c "
      /app/wait-for.sh postgres:5432 --timeout=60 &&
      cd /app/src/ &&
      python manage.py migrate &&
      gunicorn -c gunicorn.conf.py wsgi"

  postgres:
    image: postgres:latest
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=user7
      - POSTGRES_PASSWORD=ok12h3iuhkshdgf
      - POSTGRES_DB=location_collector